<div class="card shadow">
    <p class="h4 card-header">Update IPO</p>
    <div class="card-body bg-light">
        <p class="card-text h6">Please fill the details:</p>
        <form (ngSubmit)="onSubmit()">
            <div class="input-group mt-3 mb-3">
        
                <input [(ngModel)]="ipo.companyName" name="companyName" type="text" placeholder="Company Name" class="form-control" />
            </div>
            <div class="input-group mb-3">
               
                <select [(ngModel)]="ipo.stockExchangeName" name="stockExchangeName" class="custom-select" id="inputGroupSelect01">
                    <option *ngFor="let stockExchange of stockExchanges" [value]="stockExchange.stockExchangeName">
                        {{ stockExchange?.stockExchangeName }}</option>
                </select>
            </div>
            <div class="input-group mb-3">
                
                <input [(ngModel)]="ipo.pricePerPay" name="pricePerPay" type="text" placeholder="Price/Share in Rs" class="form-control">
                <div class="input-group-append">
                    <span class="input-group-text">.00</span>
                </div>
            </div>
            <div class="input-group mb-3">
               
                <input [(ngModel)]="ipo.totalNumberOfShares" name="totalNumberOfShares" type="text" placeholder="Total no of shares" class="form-control" />
            </div>
            <div class="input-group mb-3">
                
                <input [(ngModel)]="ipo.openDateTime" name="openDateTime" type="datetime-local"
                    placeholder="Open date time(mm/dd/yyyy hh:mm AM/PM)" class="form-control" />
            </div>
            <div class="d-flex no-gutters">
                <div class="col">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                <div>
                    <button (click)="backClicked()" class="btn btn-secondary">Back</button>
                </div>
            </div>
        </form>
    </div>
</div>